<form ng-submit="login(session)">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="session_email" ng-model="session.email"
        placeholder="Email">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" id="session_senha" ng-model="session.senha"
        placeholder="Senha">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
